body {
    background: rgb(8,8,8);
}

.home-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.home-inner {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.home-image {
    margin: 125px 0;
    height: calc(100% - 250px);
}

.home .home-outer {
    overflow: hidden;
    background-color: rgb(8,8,8);
}

.home .fullpage {
    display: none;
}




.full .home-outer {
    opacity: 0;
    animation-name: home_page_background_animation;
    animation-duration: 16s;
}

.full .fullpage {
    color: white;
    font-family: "Comic Sans MS";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    display: inline;
    animation-name: full_page_animation;
    animation-duration: 16s;
}

.full .home-image {
    animation-name: home_page_image_animation;
    animation-duration: 16s;
}

.info {
    margin: 0 7% 0 7%;
}

.intro-section {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.cover-image {
    margin: 200px 0;
    height: calc(100% - 400px);
}

.intro-section-2 {
    height: 100vh;
    width: 100%;
    text-align: center;
}

.cover-image-2 {
    margin: 150px 0;
    height: calc(100% - 300px);
}

.bottom-text-container {
    text-align: center;
    /*background-color: yellow;*/
}

.bottom-text-image {
    margin: 50px 0;
    height: calc(100% - 100px);
}



@keyframes home_page_background_animation {
    0%   {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes home_page_image_animation {
    0%   {transform: rotate(0deg); opacity: 1; margin: 125px 0; height: calc(100% - 250px);}
    50% {transform: rotate(360deg); opacity: 1; margin: 125px 0; height: calc(100% - 250px);}
    100% {transform: rotate(360deg); opacity: 0; margin: 150px 0; height: calc((100% - 300px)*0.6982);}
}

@keyframes full_page_animation {
    0%   {opacity: 0; overflow-y: hidden; height: 100%;}
    50% {opacity: 0; overflow-y: hidden; height: 100%;}
    100% {opacity: 1; overflow-y: auto; height: auto;}
}