body {
    background: rgb(8,8,8);
}

.fullpage {
    background: rgb(8, 8, 8);
    color: white;
    font-family: "Comic Sans MS";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    /*animation-name: full_page_animation;*/
    animation-duration: 16s;
}

.info {
    margin: 0 7% 0 7%;
}

.intro-section {
    background-color: green;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgb(8,8,88);
}

.cover-image {
    margin: 200px 0;
    height: calc(100% - 400px);
}

.intro-section-2 {
    background-color: green;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgb(8,8,8);
}

.cover-image-2 {
    margin: 150px 0;
    height: calc(100% - 300px);
}

.bottom-text-container {
    text-align: center;
    /*background-color: yellow;*/
}

.bottom-text-image {
    margin: 50px 0;
    height: calc(100% - 100px);
}

.home-inner {
    /*background-color: green;*/
    height: 100vh;
    width: 100%;
    text-align: center;
    /*background-color: rgb(8,8,8);*/
}

/*.initial-home-image {*/
/*margin: 125px 0;*/
/*height: calc(100% - 250px);*/
/*}*/

.home-image {
    margin: 125px 0;
    height: calc(100% - 250px);
    /*opacity: 0;*/
    /*margin: 125px 0;*/
    /*height: calc((100% - 300px)*0.6982);*/
    /*margin: 150px 0;*/
    /*height: calc(100% - 300px);*/
    /*opacity: 0.5;*/
    /*animation-name: home_page_image_animation;*/
    animation-duration: 16s;
    /*animation-name: example;*/
}

.fade .inner {
    animation-name: home_page_image_animation;
    animation-duration: 5s;
}

.home-outer {
    color: white;
    font-family: "Comic Sans MS";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    /*opacity: 0;*/
    /*animation-name: home_page_background_animation;*/
    animation-duration: 16s;
    background-color: rgb(8,8,8);
}

@keyframes full_page_animation {
    0%   {opacity: 0; overflow-y: hidden; height: 100%;}
    50% {opacity: 0; overflow-y: hidden; height: 100%;}
    100% {opacity: 1; overflow-y: auto; height: auto;}
}

/*margin: 125px 0;*/
/*height: calc(100% - 250px);*/

@keyframes home_page_image_animation {
    0%   {transform: rotate(0deg); opacity: 1; margin: 125px 0; height: calc(100% - 250px);}
    50% {transform: rotate(360deg); opacity: 1; margin: 125px 0; height: calc(100% - 250px);}
    100% {transform: rotate(360deg); opacity: 0; margin: 150px 0; height: calc((100% - 300px)*0.6982);}
}

@keyframes home_page_background_animation {
    0%   {opacity: 1; display: inline;}
    50% {opacity: 1; display: inline;}
    100% {opacity: 0; display: none;}
}

p {
    font-family: "Apple Chancery";
}

.test {
    color: white;
}